@import '../../assets/styles/theme';

.ab-card-box {
  position: relative;
  height: 70vh;
  .back-card {
    height: 300px;
    text-align: center;
    background-color: #bc2239;
    color: white;

    .back-card-block {
      width: 63.5%;
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .front-card {
    position: absolute;
    right: 100px;
    top: -$space;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    color: $primary;
  }
}

.ab-who-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vision-box {
  background-color: $accent;
  color: $bg;
}
.vision-sub-box {
  p {
    text-align: left;
  }
  display: flex;
  align-items: center;
}

.vision-front-card {
  background-color: $accent !important;
}

.value-card-box {
  position: relative;
  height: 70vh;
  .value-back-card {
    height: 350px;
    //height: auto;
    background-color: $accent;
    color: white;

    .value-back-card-block {
      width: 63.5%;
      float: right;
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        span {
          display: inline-block;
          //border-left: 2px solid $bg;
          margin-bottom: $space/3;
          padding-left: $space;
          //border-radius: $space;

          &:before {
            width: 10px;
            height: 10px;
            background-color: #bc2239;
          }
        }
      }
    }
  }
  .value-front-card {
    position: absolute;
    left: 100px;
    top: -$space;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    color: $primary;
  }
}
