@import '../../../assets/styles/theme';

$headerMarginHeight: $space;
$headerPaddingHeight: $space;
$headerContentHeight: 42px;

$headerHeight: ($headerMarginHeight * 2) + ($headerPaddingHeight * 2) +
  $headerContentHeight;
