@import '../../../assets/styles/theme';
@import 'header-height';

$navMobileRate: 1.4;

.header {
  position: sticky;
  z-index: 7;

  // height: $headerHeight;
  width: 100%;

  top: 0;
  right: 0;
  left: 0;

  background-image: linear-gradient(
    to bottom,
    transparentize($bg, 0.5),
    transparentize($bg, 0.84),
    rgba(255, 255, 255, 0)
  );

  .header-in-1 {
    // margin: $headerMarginHeight;

    .header-in-2 {
      display: flex;

      padding: $headerPaddingHeight ($headerPaddingHeight + 4 * $space);
      @media (max-width: $mobile * $navMobileRate){
        padding: $headerPaddingHeight ($headerPaddingHeight + $space);
      }
      background-image: linear-gradient(
        to bottom,
        transparentize($bg, 0.03),
        transparentize($bg, 0.14)
      );
      // background-color: transparent !important;
      box-shadow: $shade-L !important;
    }
  }
}

.header-logo-and-wordmark {
  display: inline-block;

  height: $headerContentHeight;

  text-decoration: none !important;

  box-shadow: none !important;
  
  .header-logo {
    display: inline-block;
    vertical-align: top;

    height: $headerContentHeight;
  }

  .header-wordmark {
    display: inline-block;
    vertical-align: top;

    height: $headerContentHeight;

    padding: 0 ($space) 0 ($space / 4);

    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;

    color: $primary;
  }
}


.header-nav-container {
  display: block;
  height: $headerContentHeight;

  @media (max-width: $mobile * $navMobileRate) {
    display: none;
  }

  nav {
    height: $headerContentHeight;

    a {
      height: $headerContentHeight;

      padding: 0 $space;

      font-size: $font-M;
      font-weight: lighter;
      line-height: $headerContentHeight;

      transition-property: all;
      transition-duration: 0.7s;
      position: relative;

      &:active,
      &:focus,
      &:hover {
        box-shadow: inset $headerContentHeight -$headerContentHeight 0 -$headerContentHeight
          $primary;
        color: $bg !important;
      }
    }
  }
}

.header-mini-nav-container {
  display: none;
  height: $headerContentHeight;

  @media (max-width: $mobile * $navMobileRate) {
    display: block;
  }

  .header-mini-nav-menu {
    height: $headerContentHeight;

    padding: 0 $space;

    border: 0;

    font-weight: lighter;
    line-height: $headerContentHeight;

    background-color: transparent;
    box-shadow: none;
    color: $primary;
  }

  .gerami-menu-drop {
    display: inline-block;

    // margin-top: $headerContentHeight;

    .gerami-menu-item {
      padding: ($space) ($space * 2);
    }
  }
}
