@import "../../assets/styles/theme";

.product-detail-top-pic {
  position: relative;
  height: 420px;

  .product-detail-overlay {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: $bg;

    background: rgb(6, 6, 6);
    background: linear-gradient(0deg, rgba(6, 6, 6, 0.44348161627932425) 0%, rgba(57, 57, 57, 0.4322771344866071) 100%);
    h1 {
      font-size: 3.5em;
      color: $bg;
      margin-bottom: 0;
    }
    p {
      padding-top: 0;
      margin-top: 0;

      li {
        list-style: none !important;
      }
    }
  }
}

.sub-product-type {
  h1 {
    font-size: 2.5em;
  }

  img {
    border-radius: 5px;
  }
}




