@import "../../../assets/styles/theme";
.footer-copyright {
  background-color: rgb(249, 249, 249);
  text-align: center;
  color: $primary;
  height: 7vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  box-shadow: 0 -4px 4px 0 rgba(158, 158, 158, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-copyright > span > a {
  color: $primary
}

.footer-copyright > span > a:hover {
  color: $primary
}
