@import '../../assets/styles/theme';
@import '../../shared/components/header/header-height';

.products-header {
  padding-top: $headerHeight + $space;

  height: 350px;
  display: flex;
  align-items: center;

  h1 {
    font-size: 2.5em;
  }

  a {
    font-size: $font-S * 1.14;
    font-weight: normal;

    color: inherit;

    &:active,
    &:focus,
    &:hover {
      color: $bg;
    }
  }
}

.product-card-label {
  position: relative;
}
