@import '../../assets/styles/theme';
@import '../../shared/components/header/header-height';

.products-header {
  padding-top: $headerHeight + $space;

  a {
    font-size: $font-S * 1.14;
    font-weight: normal;

    color: inherit;

    &:active,
    &:focus,
    &:hover {
      color: $bg;
    }
  }
}

.product-category-list-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  a {
    display: inline-block;
    width: auto;
    padding: 3px;
    margin: 5px;

    &:hover {
      box-shadow: none;

      &::before {
        width: 13px;
      }
      &::after {
        height: 13px;
      }
    }
    position: relative;

    &::after,
    &::before {
      transition: 0.3s all ease-in-out !important;
      position: absolute;
      bottom: 3px;
      content: '';
      width: 0px;
      height: 2px;
      background: $bg;
    }

    &::after {
      width: 2px;
      height: 0;
      margin-left: 4px;
    }
  }
}

.product-card-label {
  position: relative;

  &::after,
  &::before {
    position: absolute;
    bottom: 5px;
    content: '';
    width: 10px;
    height: 2px;
    background: $accent;
  }
  &::after {
    margin-left: -10px;
  }
}
