@import '../../assets/styles/theme';
@import '../../shared/components/header/header-height';

.products-header {
  padding-top: $headerHeight + $space;

  a {
    font-size: $font-S;
    font-weight: normal;

    color: inherit;

    &:active,
    &:focus,
    &:hover {
      color: $bg;
    }
  }
}
