@import '../../../assets/styles/theme';

.footer {
  display: block;

  padding: $space 0 0;

  font-size: 0.7em;

  background-color: $primary;
  color: transparentize($bg, 0.25);

  a,
  .gerami-anchor {
    color: inherit;

    &:active,
    &:focus,
    &:hover {
      color: transparentize($bg, 0.03);
    }
  }
}
