@import '../../../../assets/styles/theme';

@keyframes home-slides-item-drama {
  0% {
    transform: scale3d(1.03, 1.03, 1.03);
  }
  100% {
    transform: scale3d(1.14, 1.14, 1);
  }
}

.home-slides {
  .home-slides-item {
    height: 85vh;
    min-height: $mobile;
    width: 100%;

    background-attachment: scroll;
    background-color: $bg;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    animation: home-slides-item-drama 15s ease-in-out 0s infinite alternate;
    transition: all 5s linear;

    @media (max-width: $mobile) {
      max-height: $mobile;
    }
  }

  .home-slides-item-links-container {
    z-index: 10000;
    position: absolute;

    width: 100%;

    margin-top: -$space * 11;

    text-align: center;

    .home-slides-item-link {
      z-index: 10000;

      margin: $space / 2;
      padding: ($space) ($space * 2);

      border-radius: $radius;

      background-color: transparentize($bg, 0.35);
      color: $primary !important;

      &:active,
      &:hover,
      &:focus {
        background-color: transparentize($bg, 0.14);
        box-shadow: inset 0 -2em 0 -1.9em currentColor,
          0 3px 14px 0px transparentize($accent, 0.84);
      }
    }
  }
}
