@import '../../../../assets/styles/theme';

@keyframes home-slides-item-drama {
  0% {
    transform: scale3d(1.03, 1.03, 1.03);
  }
  100% {
    transform: scale3d(1.14, 1.14, 1);
  }
}

.home-slides {
  .slick-dots {
    bottom: $space * 2;
  }

  .home-slides-item {
    height: 100vh;
    min-height: $mobile;
    width: 100%;

    background-attachment: scroll;
    background-color: $bg;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    animation: 15s ease-in-out 0s infinite alternate home-slides-item-drama;
    transition: all 5s linear;

    @media (max-width: $mobile) {
      max-height: $mobile;
    }
  }

  .home-slides-item-links-container {
    position: absolute;

    width: 100%;

    margin-top: -$space * 8;

    text-align: center;

    .home-slides-item-link {
      margin: $space;
    }
  }
}
