.hello {
    background: white;
    border-radius: 3%;
    width: 50%;
    height: 300px;
    margin: auto;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.center{
    width: 50%;
    margin: auto;
    display: block;
}
#loginImg{
    padding: 15px 0px 15px 0px;
}

input{
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin-bottom: 15px;
    height: 30px;
}