// imports:

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
// classes:

.font-family-display {
  font-family: 'Teko', sans-serif;
}

.font-family-title {
  font-family: 'Teko', sans-serif;
}

.font-family-body {
  font-family: 'IBM Plex Sans', sans-serif;
}
