// imports:

@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
// classes:

.font-family-display {
  font-family: 'Comfortaa', sans-serif;
  // font-family: "Oswald", sans-serif;
}

.font-family-title {
  font-family: 'Teko', sans-serif;
}

.font-family-body {
  font-family: 'Muli', sans-serif;
}
