// imports:

@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

// classes:

.font-family-display {
  font-family: 'Comfortaa', cursive;
}

.font-family-title {
  font-family: 'Comfortaa', cursive;
}

.font-family-body {
  font-family: 'Comfortaa', cursive;
}
