@import 'theme';

// CORE:

.opera-mini *[data-aos] {
  opacity: 1;
  transition: none;
  transform: none;
  filter: none;
  visibility: visible;
}

// APP:

body {
  @extend .font-family-body;

  background-color: rgb(252, 248, 248);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .font-family-title;
}

a {
  @extend .gerami-anchor;

  font-weight: bold;
}
