@import 'theme';

// CORE:

.opera-mini *[data-aos] {
  opacity: 1;
  transition: none;
  transform: none;
  filter: none;
  visibility: visible;
}

// APP:

body {
  @extend .font-family-body;

  line-height: 1.5;

  background-color: rgb(255, 250, 245);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .font-family-title;
}

a {
  @extend .gerami-anchor;

  font-weight: bold;
}

.gerami-button-primary {
  padding: ($space / 2) $space;
}

.gerami-input,
.gerami-textarea {
  margin: 0;
  padding: ($space) ($space) !important;
}
.gerami-input-placeholder,
.gerami-textarea-placeholder {
  margin: 0;
  padding: ($space) ($space + 1) !important;

  color: transparentize($accent, 0.56);
}
.gerami-input-float,
.gerami-textarea-float {
  margin-top: ($space / 2 - 4px);
  padding: ($space / 8) ($space / 4) !important;

  background-color: $primary !important;
  color: white !important;
  box-shadow: $shade-S;
}

.gerami-input,
.gerami-textarea {
  margin: 0 !important;

  border-width: 1px !important;
  border-style: solid !important;
  border-color: $accent;
  border-radius: $radius !important;

  background-color: white !important;
  box-shadow: $shade-L;

  &:active,
  &:focus {
    background-color: white;
    box-shadow: $shade-M, $shade-L;
  }
}

.fg-blackish {
  color: transparentize($fg, 0.35) !important;
}
.fg-whitish {
  color: transparentize($bg, 0.28) !important;
}
