@import '../../../../assets/styles/theme';

.home-instagram-flex {
  display: flex;

  padding: $space * 1.5;

  > * {
    flex: 1;
  }
}

.home-instagram-photo {
  height: $space * 10;

  margin: $space / 2;
  border-radius: 5px;

  background-color: transparentize($bg, 0.05);
  background-size: cover;

  @media (max-width: $mobile * 1.8) {
    margin: $space;

    &:nth-child(even) {
      display: none !important;
    }
  }

  @media (max-width: $mobile) {
    margin: $space;

    &:nth-child(3) {
      display: none !important;
    }
  }
}

.home-instagram-see-more {
  padding: ($space * 2) 0;

  font-size: $space * 6;
  line-height: $space * 6;
  text-align: center;

  background-color: transparent;
  color: $bg !important;
}
