@import '../../../../assets/styles/theme';

.home-locations-showroom {
}

.home-locations-showroom-name {
  border-bottom: 2px solid transparentize($bg, 0.77);

  font-size: $font-L;
  font-weight: bold;

  color: $bg;
}

.home-locations-showroom-description {
  display: flex;

  > * {
    margin: auto;
  }
}

.home-locations-showroom-description-address {
  flex: 1;

  padding: 0 ($space / 2) 0 0;
}

.home-locations-showroom-description-maps-link {
  text-align: center;

  color: inherit;

  &:active,
  &:focus,
  &:hover {
    color: $bg;
  }
}

.home-locations-showroom-description-maps-link-icon {
  display: inline-block;

  margin: ($space / 2) 0;

  font-size: $font-M * 2;
}

.home-locations-showroom-description-maps-link-label {
  text-align: center;
}
